nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ul {
    list-style-type: none;
}

li {
    display: inline-block;
} */

.header-logo,
.header-logo a,
.header-menu,
.header-menu img {
    display: inline-flex;
}
