@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
    font-weight: 400 700 800;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    font-family: "Inter", sans-serif;
}

a:link {
    text-decoration: none;
}

.grid {
    display: grid;
}

@media (min-width: 47.938rem) {
    .grid--main-news {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Resource: https://a11y-guidelines.orange.com/en/web/components-examples/accessible-hiding/ */

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}